@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Bellota+Text:wght@300;700&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Bellota Text', Arial, Helvetica, sans-serif;
  color: #989898;
}

.container {
  width: 1258px;
  height: 100%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  background-color: #F1F1F1;
  display: flex;
  position: fixed;
}

.navbar ul {
  width: 699px;
  height: 92px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 122px;
}

.navbar ul li {
  cursor: pointer;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 2px;
}

.navbar ul li:hover {
  color: #7b7b7b;
  font-weight: 700;
  background-color: #eaeaea;
}

.banner {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(assets/background.png);
  background-size: cover;
}

.banner h1 {
  font-family: 'Antic Didone', Arial, Helvetica, sans-serif;
  font-size: 95px;
  font-weight: 400;
  letter-spacing: 20px;
  line-height: 130px;
  color: #B4BAA1;
}

.banner h2 {
  font-size: 23px;
  letter-spacing: 30px;
  font-style: italic;
  line-height: 30px;
  color: #B4BAA1;
}

.about-us {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Antic Didone';
  font-size: 50px;
  color: #989898;
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding-top: 70px;
}

.about-us p {
  width: 720px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 41px;
  margin-top: 47px;
}

.about-content img {
  margin-top: -60px;
  margin-bottom: 60px;
}

.products {
  background-image: url(assets/background-products.png);
}